{
  "presets": ["babel-preset-expo"],
  "plugins": [["flow-react-proptypes", {"ignoreNodeModules": true}]],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  }
}
