ETHNET=xxxxx
HOCKEYAPP_API_KEY=xxxxx
JUMIO_API_KEY=xxxxx
JUMIO_API_SECRET=xxxxx
FABRIC_API_KEY=xxxxx
FABRIC_API_SECRET=xxxxx
BTC_NODE_AUTH_HEADER=xxxxxx
BTC_NODE_ENDPOINT=xxxxxx
BTC_NODE_NETWORK=testnet
BTC_COINPATH=1
