{
  "parser": "babel-eslint",
  "plugins": ["react", "react-native"],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "react/display-name": 0,
    "semi": [2, "always"]
  },
  "globals": {
    "__DEV__": true,
    "it": true,
    "describe": true,
    "expect": true,
    "jest": true,
    "fetch": true,
    "require": true,
    "console": true
  }
}
