developmentAppKey = Your Development Key
developmentAppSecret = Your Development Secret

productionAppKey = Your Production App Key
productionAppSecret = Your Production Secret

# FCM/GCM Sender ID
gcmSender = Your Sender ID

# Notification customization
notificationIcon = ic_notification
notificationAccentColor = #700B86
